.mas{
	font-size: 50px;
	color: rgb(0, 0,0);
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.textInfo{
	font-size: 100px;
	color: rgb(0, 0,0);
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.textOl{
	font-size: 20px;
	color: rgb(0, 0,0);
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.background{
	background-color: rgba(6, 182, 12, 0.863);
}
.padding{
	margin-top: 50px
}
.paddingForm{
	margin-top: 20px;
}
.marginBottom{
	margin-bottom: 50px;
}
.fontPutih{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	color: white;
}

.marginIndex{
	margin-top: 150px;
}
#alamat,#pekerjaan{
	display: none;
}


#alamat,#pekerjaan,#btnSubmit{
	display: none;
}
.btnInfo{
	width: 90px;
	margin-left: 10px;
}
#warnaSubmit{
	font-size: 20px;
	color: rgb(19, 3, 160);
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.box{
	width: 100%;
	height: 150px;
	color: aqua;
}